<% require 'pry' %>

<% if @id.nil? %>
  <h1>No results for artist <%= @search_term %></h2>

<% else %>
  <h2>Album results for <%= @artist_name %> </h2>

  <% @albums.each do |k, v| %>
      <div>
        <span class="image">
          <%= image_tag v %>
          <%=  k %>  <br />
        </span>
      </div>
  <% end %>

<% end %>
<br>
<%= link_to "Back", root_path %>
